

img#socialIcon {
  padding: 0px;
  width: 20px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -webkit-transition: -webkit-transform 0.25s ease-in-out;
}
#socialIcon:hover {
  margin: 0px !important;
  width: 20px;
  height: 20px;
  -webkit-transform: rotate(350deg);
  -webkit-transition: -webkit-transform 0.25s ease-in-out;
}

.socialLink:hover .socialLink:link {
  width: 20px;
  height: 20px;
  background: #222 !important;
}


.footer {
  flex-shrink: 0;
  text-align: center;
  background-color: #f7f7f7;
  color: black;
  font-weight: bold;
}
